<div class="row">
    <div>
        <form (ngSubmit)="editarCategoria()">
            <div class="form-group" >
                <label for="nombre">Nombre:</label>
                <input id="nombre" class="form-control" 
                    [(ngModel)]="model.nombreCategoria" name="nombreCategoria"/>
            </div>
            <div class="form-group">
                <button type="submit">Guardar</button>
            </div>
        </form>
    </div>
</div>