<h1 class="text-center">
  TAREA
</h1>
<router-outlet></router-outlet>

<div class="row justify-content-center">
  <div class="col-12">
    <table class="table table-hover">
      <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>Prioridad</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Fecha</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of contactos">
          <td>{{ item.idTarea }}</td>
          <td>{{ item.prioridad }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.descripcion }}</td>
          <td>{{ item.fecha }}</td>
          <td>
            <div>
              <button class="btn btn-warning" (click)="cargar(item)">Editar</button>
              <button class="btn btn-danger" (click)="eliminar(item)">Eliminar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <button [routerLink]="['nuevo']" class="btn btn-primary">Agregar</button>
  </div> 
</div>