<router-outlet></router-outlet>
<div class="card-group">
  <div class="card" [routerLink]="['contacto']">
    <img class="card-img-top" width="212px" height="200px"
     src="http://localhost:3000/images/contacto.png" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Contactos</h4>
      <p class="card-text">Crea tus contactos y asignales tus propias categorías</p>      
    </div>
  </div>
  <div class="card" [routerLink]="['categoria']" >
    <img class="card-img-top" width="212px" height="200px" src="http://localhost:3000/images/categoria.png" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Categorías</h4>
      <p class="card-text">Crea tus propias categorías</p>      
    </div>
  </div>
  <div class="card" [routerLink]="['tarea']">
    <img class="card-img-top" width="212px" height="200px"
     src="http://localhost:3000/images/tarea.png" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Tarea</h4>
      <p class="card-text">Crea una tarea, puedes seguir desde donde la dejaste</p>
    </div>
  </div>
  <div class="card" [routerLink]="['cita']">
    <img class="card-img-top" width="212px" height="200px"
    src="http://localhost:3000/images/cita2.png" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Cita</h4>
      <p class="card-text">Arregla una cita con un contacto :).</p>
    </div>
  </div>
  <div class="card" [routerLink]="['historial']">
    <img class="card-img-top" width="212px" height="200px"
    src="http://localhost:3000/images/historial.ico" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Historial</h4>
      <p class="card-text">Ve un registro de tu actividad :).</p>
    </div>
  </div>
  <div class="card" (click)="cuenta()">
    <img class="card-img-top" width="222px" height="200px"
    src="{{model.foto}}" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title"><b>{{model.nick | uppercase}}</b></h4>
      <p class="card-text">Administra tu cuenta</p>
    </div>
  </div>
</div>
