<h1 class="text-center">
  Cita
</h1>
<router-outlet></router-outlet>
<div class="row justify-content-center">
  <div class="col-12">
    <table class="table table-hover">
      <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Fecha</th>
          <th>Lugar</th>
          <th>Descripcion</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of citas">
          <td>{{ item.idCita }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.fecha }}</td>
          <td>{{ item.lugar }}</td>
          <td>{{ item.descripcion }}</td>
          <td>
            <div>
              <button class="btn btn-warning" (click)="cargar(item)">Editar</button>
              <button class="btn btn-danger" (click)="eliminar(item)">Eliminar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <button [routerLink]="['nuevo']" class="btn btn-primary">Agregar</button>
  </div> 
</div>