<div class="row justify-content-center">
  <div class="col-5">
    <form (ngSubmit)="agregarTarea()">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input class="form-control" id="nombre" 
          [(ngModel)]="model.nombre" name="nombre"/>
      </div>
      <div class="form-group">
        <label for="descripcion">Descripcion:</label>
        <input class="form-control" id="descripcion" 
          [(ngModel)]="model.descripcion" name="descripcion"/>
      </div>
      <div class="form-group">
        <label for="prioridad">Prioridad:</label>
        <select class="form-control" 
          [(ngModel)]="model.idPrioridad" name="idPrioridad">
        <option *ngFor="let item of prioridades" 
        value="{{item.idPrioridad}}">{{item.descripcion}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" class="form-control" [(ngModel)]="model.fecha" name="fecha"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Agregar</button>
        <button class="btn btn-warnign" [routerLink]="['../']" >Cancelar</button>
      </div>
    </form>
  </div>
</div>