<h1 class="text-center">
  CONTACTO
</h1>
<router-outlet></router-outlet>

<div class="row ">
  <div class="col-5">
    <table class="table table-hover">
      <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Dirección</th>
          <th>Teléfono</th>
          <th>Categoria</th>
          <th>Correo</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of contactos">
          <td>{{ item.idContacto }}</td>
          <!--td><img src="" height="50px" width="50px"></td-->
          <td>{{ item.nombre }}</td>
          <td>{{ item.apellido }}</td>
          <td>{{ item.direccion }}</td>
          <td>{{ item.telefono }}</td>
          <td>{{ item.nombreCategoria }}</td>
          <td>{{ item.correo}}</td>
          <td>
            <div>
              <button class="btn btn-warning" (click)="cargar(item)">Editar</button>
              <button class="btn btn-danger">Eliminar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <button [routerLink]="['nuevo']" class="btn btn-primary">Agregar</button>
  </div> 
</div>