<div class="panel panel-primary">
  <div class="panel-header">
    <h3>Datos Contacto</h3>
  </div>

<div class="row justify-content-center">
    <div class="col-5">
        <div class="form-group">
            <img class="row justify-content-center" style="margin-left: 120px" src="{{model.foto}}" width="200px" height="200px"/>
            <input class="btn btn-block" type="file" (change)="fileUpload($event)"/>
        </div>
    <div>    
</div>

  <div class="panel-body">
      <form (ngSubmit)="agregarContacto()">
        <div class="form-group">
          <label for="nombres">Nombres:</label>
          <input class="form-control" type="text" id="nombres"  
          [(ngModel)]="model.nombre" name="nombre"/>
        </div>
        <div class="form-group">
          <label for="apellidos">Apellidos:</label>
          <input class="form-control" type="text" id="apellidos" 
          [(ngModel)]="model.apellido" name="apellido">
        </div>
        <div class="form-group">
          <label for="direccion">Dirección:</label>
          <input class="form-control" type="text" id="direccion" 
          [(ngModel)]="model.direccion"
          name="direccion"/>
        </div>
        <div class="form-group">
          <label for="telefono">Teléfono:</label>
          <input class="form-control" type="text" id="telefono" 
          [(ngModel)]="model.telefono"
          name="telefono"/>
        </div>
        <div class="form-group">
          <label for="correo">Correo:</label>
          <input class="form-control" type="text" id="correo" 
          [(ngModel)]="model.correo"
          name="correo"/>
        </div>
        <div class="form-group">
          <label for="categoria">Categorías</label>
          <select class="form-control" 
          [(ngModel)]="model.idCategoria"
          name="idCategoria">
            <option *ngFor="let item of categorias" 
            value="{{item.idCategoria}}">{{item.nombre}}</option>
          </select>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Agregar</button>
          <button class="btn btn-warning" [routerLink]="['../']">Cancelar</button>
        </div>
      </form>
  </div>