<div class="row">
    <form (ngSubmit)="eliminarCategoria()">
        <div class="form-group">
            <label>¿Esta seguro de que desea eliminar la categoria {{model.nombreCategoria}}?</label>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Si</button>
            <button class="btn btn-danger" (click)="cancelar()">No</button>
        </div>
    </form>
</div>