<div class="row justify-content-center">
  <div class="col-5">
    <form (ngSubmit)="agregarCita()">
      <div class="form-group">
        <label for="contacto">Contacto:</label>
        <select class="form-control" id="contacto"
          [(ngModel)]="model.idContacto" name="idContacto">
        <option *ngFor="let item of contactos" 
        value="{{item.idContacto}}">{{item.nombre}}</option>
        </select>
      </div>
      <div>

      </div>
      <div class="form-group">
        <label for="descripcion">Descripcion:</label>
        <input class="form-control" id="descripcion" 
          [(ngModel)]="model.descripcion" name="descripcion"/>
      </div>
      <div class="form-group">
        <label for="lugar">Lugar:</label>
        <input class="form-control" id="lugar" 
          [(ngModel)]="model.lugar" name="lugar"/>
      </div>
      <div class="form-group">
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" class="form-control" [(ngModel)]="model.fecha" name="fecha"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Agregar</button>
        <button class="btn btn-warnign" [routerLink]="['../']" >Cancelar</button>
      </div>
    </form>
  </div>
</div>