<div class="row justify-content-center">
  <div class="col-5">
    <h1 class="text-center">LogIn</h1>
      <form [formGroup]="formularioLogin" (ngSubmit)="iniciarSesion()">
        <div class="form-group">
           <label for="formGroupExampleInput">Nick:</label>
           <input type="text" class="form-control" 
            id="formGroupExampleInput"
            formControlName="nick"/>
        </div>
        <div class="form-group">
           <label for="formGroupExampleInput2">Contraseña:</label>
           <input type="password" class="form-control" 
           id="formGroupExampleInput2"
           formControlName="contrasena"/>
        </div>
        <div>
           <button class="btn btn-primary"
           [disabled]="!formularioLogin.valid">Ingresar</button>
        </div>
      </form>
  </div>
</div>