<div class="row">
    <form (ngSubmit)="eliminarContacto()">
        <div class="form-group">
            <div class="form-group">
                <img src="{{model.foto}}" width="100px" height="100"/>
            </div>
            <label>¿Esta seguro que desea eliminar a {{model.nombre}}?</label>
        </div>
    </form>
</div>