<div class="row">
    <div>
        <div>
            <form (ngSubmit)="agregarCategoria()">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input class="form-control" [(ngModel)]="model.nombreCategoria"
                     id="nombre" name="nombre"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>