<h1 class="text-center">
  CATEGORIA
</h1>
<router-outlet></router-outlet>

<div class="row ">
  <div class="col-5">
    <table class="table table-hover">
      <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of categorias">
          <td>{{ item.idCategoria }}</td>
          <td>{{ item.nombre }}</td>
          <td>
            <div>
              <button class="btn btn-warning" (click)="cargar(item)">Editar</button>
              <button class="btn btn-danger" (click)="eliminar(item)">Eliminar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <button [routerLink]="['nuevo']" class="btn btn-primary">Agregar</button>
  </div> 
</div>