<div class="row justify-content-center">
    <div class="col-5">
      <h1 class="text-center">Registrarse</h1>
        <form (ngSubmit)="crearCuenta()">
          <div class="form-group">
            <label>Nick:</label>
            <input class="form-control" 
            [(ngModel)]="model.nick" name="nick"/>
          </div>
          <div class="form-group">
            <label>Contraseña</label>
            <input class="form-control" [(ngModel)]="model.contrasena"
              type="password" name="contrasena"/>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Crear Cuenta</button>
            <button class="btn btn-danger">Cancelar</button>
          </div>
        </form>
    </div>
</div>
