<div class="container">
  <div class="page-header">
    <h1 id="timeline">Timeline</h1>
  </div>
  <ul class="timeline">
    <li *ngFor="let item of historiales">
      <div class="{{panelclass}}"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">{{item.mensaje}}</h4>
        </div>
        <div class="timeline-body">
          Fecha: {{item.fecha}} Hora: {{item.hora}}
        </div>
      </div>
    </li>
    
  </ul>
</div>