<div class="row justify-content-center">
    <div class="col-5">
        <div class="form-group">
            <img class="row justify-content-center" style="margin-left: 120px" src="{{model.foto}}" width="200px" height="200px"/>
            <input class="btn btn-block" type="file" (change)="editarFoto($event)"/>
        </div>
    <div>    
</div>
<hr/>
<div class="row justify-content-center">
    <div class="col-8">
        <form (ngSubmit)="editarUsuario()">
            <div class="form-group">
                <label>Nick:</label>
                <input class="form-control" 
                [(ngModel)]="model.nick" name="nick" />
            </div>
            <div class="form-group">
                <label>Contrasena:</label>
                <input type="password" 
                class="form-control" 
                [(ngModel)]="model.contrasena"
                name="contrasena"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">Guardar </button>
                <button class="btn btn-warning btn-block">Cancelar</button>
            </div>
        </form>
    </div>
</div>